{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="container mt-5">
        {% for topic in topics %}
            <div class="card mb-4">
                <div class="card-header">
                    Topic ID: {{ topic.id }}
                </div>
                <div class="card-body">
                    <a href="{{ url_for('views.topic_view', topic_id=topic.id) }}">
                        <h5 class="card-title">{{ topic.name }}</h5>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}