{% extends "base.html" %}

{% block title %} My Posts {% endblock %}

{% block content %}
    <div class="container mt-5">
        {% for post in posts %}
            <div class="card mb-4">
                <div class="card-header">
                    [{{ post.thread_title }}]
                </div>
                <div class="card-body">
                    <p class="card-text">{{ post.content }}</p>
                    <hr>
                    <p class="text-muted">Posted by: {{ post.author_email }} at {{ post.created_at.strftime('%d-%m-%Y %H:%M') }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}